@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300;400&display=swap");
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.main {
  padding-top: 9rem; }

/* || Main Image Section || */
.textover {
  position: relative;
  margin-top: 5rem; }

.main__img {
  width: 100%;
  z-index: -100;
  position: relative; }

.textover figcaption {
  position: absolute;
  bottom: 50%;
  left: 25%;
  right: 25%;
  top: 30%;
  text-align: center;
  z-index: -1;
  color: #a5988d; }

/* || Biography Section || */
.bio__background {
  background-color: white; }

.bio {
  display: flex;
  align-items: center; }

.bio__img {
  flex: 0.85;
  height: 50rem;
  padding: 0 0 2rem 2rem;
  border-radius: 8rem; }

.bio__article {
  flex: 1.5;
  padding: 2rem;
  align-items: center; }

.bio__article__icons {
  display: flex; }

.bio__article__icons a {
  margin-top: 2rem;
  padding-right: 2rem;
  width: 6rem;
  opacity: 0.5; }

/* || Services Section || */
/*
.services__skew__top {
  height: 5rem;
  background: linear-gradient(
    to right bottom,
    $main-background-color 50%,
    $services-background-color 50%
  );
}

.services__skew__bottom {
  height: 5rem;
  background: linear-gradient(
    to left bottom,
    $services-background-color 50%,
    $main-background-color 50%
  );
}
*/
.services {
  padding: 5rem;
  background: #fbf9f8; }

.services h2 {
  padding-top: 6rem; }

.services__container {
  display: flex; }

.services__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 2.5rem;
  padding: 1.5rem;
  height: 40rem;
  border: 1px solid #83677b;
  border-radius: 5rem; }

/* || Reviews Section || */
.reviews {
  height: 100%;
  scroll-snap-align: start;
  background-color: #fbf9f8; }

blockquote::before {
  content: open-quote;
  font-size: 2.5rem;
  padding: 1.5rem;
  z-index: -100; }

blockquote::after {
  content: close-quote;
  font-size: 2.5rem;
  padding: 1.5rem;
  z-index: -100; }

.owl-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: -5rem; }

.slide {
  text-align: center;
  width: 100%;
  padding: 10rem;
  height: 75%;
  position: relative; }

.owl-dots {
  width: 100%;
  padding: 2rem;
  text-align: center;
  position: absolute;
  bottom: -3rem; }

.owl-dot {
  width: 2rem;
  height: 5rem; }

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 6rem;
  font-weight: bold; }

.owl-prev {
  left: 0; }

.owl-next {
  right: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* 100% would be 16 px so now 1 rem = 10px */
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden; }

body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh; }

img,
picture {
  max-width: 100%;
  display: block; }

body {
  text-rendering: optimizeSpeed;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  line-height: 1.7; }

ol,
ul,
li {
  list-style: none; }

a {
  color: #fbf9f8;
  text-decoration: none; }

p,
blockquote {
  color: #2d3142; }

h1 {
  color: #f0b745;
  font-size: 4rem; }

h2 {
  font-size: 2.25rem;
  text-align: center;
  padding: 8rem 0 4rem 0; }

h3 {
  font-size: 1.75rem; }

h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #83677b; }

.nav__item {
  font-size: 1.5rem; }

.prices {
  font-weight: bold;
  font-size: 2rem; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* || Header  ||   */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 15rem;
  border-bottom: 0.5px solid beige;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  z-index: 9999; }

.header:after {
  content: "";
  background: url("../../images/solluna-essence-logo.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

.sticky {
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out; }

.header__h1 {
  padding-top: 2rem; }

.header__top__fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #83677b; }

/*
.logo_img {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  top: 0.25rem;
  left: 1rem;
  float: left;
  position: absolute;
}
*/
.nav {
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  justify-content: space-around;
  width: 100%; }
  .nav__item {
    margin: 0.5rem;
    padding: 0.5rem;
    z-index: 100; }
  .nav__item a:after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease; }
  .nav__item a::after {
    content: "";
    display: block;
    width: 0;
    height: 0.1rem;
    background: white;
    transition: width 0.3s; }
  .nav__item a:hover::after {
    width: 100%; }

.footer {
  padding: 9rem;
  margin-top: -1rem;
  background-color: #83677b;
  border-top: 0.5px solid beige;
  position: relative; }

.footer:after {
  content: "";
  background: url("../../images/solluna-essence-logo.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute; }

.footer__text p {
  color: #f0b745;
  font-weight: bold; }

.btn {
  text-transform: uppercase;
  padding: 1.5rem 2rem;
  display: inline-block;
  transition: all 0.2s;
  font-size: 1.25rem;
  background-color: #83677b; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: white;
    color: darkgray; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn--animation {
    animation: moveInBottom 0.5s ease-out 0.25s;
    animation-fill-mode: backwards; }
