@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300;400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* 100% would be 16 px so now 1 rem = 10px */
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden; }

body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh; }

img,
picture {
  max-width: 100%;
  display: block; }

body {
  text-rendering: optimizeSpeed;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  line-height: 1.7; }

ol,
ul,
li {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0 2rem 0; }

h3 {
  font-size: 1.75rem; }

.nav__item {
  font-size: 1.5rem; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* || Header  ||   */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

.header__top__fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: beige; }

.logo_img {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  top: 0.25rem;
  left: 1rem;
  float: left;
  position: absolute; }

.nav {
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  justify-content: space-around;
  width: 100%; }
  .nav__item {
    margin: 0.5rem;
    padding: 0.5rem; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem 0;
  padding: 2rem; }

.main {
  padding-top: 12.5rem; }

/* || Biography Section || */
.bio {
  display: flex;
  align-items: center; }

.bio__img {
  flex: 0.85;
  height: 50rem; }

.bio__article {
  flex: 1.5;
  padding: 2rem;
  align-items: center; }

/* || Services Section || */
.services {
  padding: 5rem; }

.services__container {
  display: flex; }

.services__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 2.5rem;
  padding: 1.5rem;
  height: 30rem;
  border: 1px solid grey; }

/* || Reviews Section || */
.owl-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: -5rem; }

.slide {
  text-align: center;
  width: 100%;
  padding: 10rem;
  height: 75%;
  position: relative; }

.owl-dots {
  width: 100%;
  padding: 2rem;
  text-align: center;
  position: absolute;
  bottom: -3rem; }

.owl-dot {
  width: 2rem;
  height: 5rem; }

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 6rem !important;
  font-weight: bold; }

.owl-prev {
  left: 0; }

.owl-next {
  right: 0; }

.footer {
  padding: 5rem; }

.btn {
  text-transform: uppercase;
  padding: 1.5rem 2rem;
  display: inline-block;
  transition: all 0.2s;
  font-size: 1.25rem; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: white;
    color: darkgray; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn--animation {
    animation: moveInBottom 0.5s ease-out 0.25s;
    animation-fill-mode: backwards; }
