h3 {
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4.25rem;
}

input,
textarea {
  width: 65%;
  background-color: #edecec;
  font-size: 1.25rem;
  padding-top: 1rem;
  padding: 0.75rem;
}

textarea {
  resize: none;
}

label {
  border-bottom: 0.5px solid grey;
  width: 65%;
  margin: 0 auto;
  padding: 0.5rem;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
}

.popup:target {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

.popup__close:link, .popup__close:visited {
  color: black;
  position: absolute;
  top: 0.5rem;
  right: 2.5rem;
  font-size: 4rem;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}

.popup__close:hover {
  color: red;
}

.popup__content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 55%;
  height: 65rem;
  background-color: #fcfaf3;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 2rem;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.4s 0.2s;
}

.popup__content h3 {
  padding-bottom: 2rem;
}

.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.disclaimer {
  font-size: 1rem;
  margin-top: 2.5rem;
}
