@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300;400&display=swap");

body {
  text-rendering: optimizeSpeed;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  line-height: 1.7;
}

ol,
ul,
li {
  list-style: none;
}

a {
  color: #001858;
  text-decoration: none;
}

p,
blockquote {
  color: #172c66;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
  text-align: center;
  padding: 4rem 0 4rem 0;
  // margin: 2rem 0 2rem 0;
}

h3 {
  font-size: 1.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #001858;
}

.nav__item {
  font-size: 1.5rem;
}

.prices {
  font-weight: bold;
  font-size: 2rem;
}
