@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300;400&display=swap");

$main-header-color: #f0b745;
$headers-color: rgb(131, 103, 123);
$main-text-color: #2d3142;
$nav-color: #fbf9f8;

body {
  text-rendering: optimizeSpeed;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  line-height: 1.7;
}

ol,
ul,
li {
  list-style: none;
}

a {
  color: $nav-color;
  text-decoration: none;
}

p,
blockquote {
  color: $main-text-color;
}

h1 {
  color: $main-header-color;
  font-size: 4rem;
}

h2 {
  font-size: 2.25rem;
  text-align: center;
  padding: 8rem 0 4rem 0;
  // margin: 2rem 0 2rem 0;
}

h3 {
  font-size: 1.75rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: $headers-color;
}

.nav__item {
  font-size: 1.5rem;
}

.prices {
  font-weight: bold;
  font-size: 2rem;
}
